In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import pandas as pd
import numpy as np

from stocksync.bot import bot

In [9]:
code = 'NVDA'
mybot = bot('NVDA')

In [23]:
mybot.find_matched_stock(n=10)

['SQQQ', 'INTC', 'TSLA', 'AAPL', 'AMZN', 'AMD', 'TQQQ', 'FFIE', 'MAXN', 'FCEL']

In [28]:
data = pd.read_csv('./stocksync/data/historical_prices/AAPL.csv')
data = data.set_index('index')
data.index = pd.to_datetime(data.index)
data

,open,high,low,close,volume,trade_count,vwap,datetime,date,time,minute_of_day,hour
index,,,,,,,,,,,,
2018-01-02 16:00:00-05:00,40.610,40.61,40.58,40.58,14777248.0,45.0,40.610000,2018-01-02 16:00:00-05:00,2018-01-02,16:00:00,960,16
2018-01-03 16:00:00-05:00,40.610,40.61,40.55,40.55,15341792.0,58.0,40.610000,2018-01-03 16:00:00-05:00,2018-01-03,16:00:00,960,16
2018-01-04 16:00:00-05:00,40.800,40.81,40.79,40.79,15487840.0,36.0,40.800000,2018-01-04 16:00:00-05:00,2018-01-04,16:00:00,960,16
2018-01-05 16:00:00-05:00,41.260,41.26,41.26,41.26,17618372.0,55.0,41.260000,2018-01-05 16:00:00-05:00,2018-01-05,16:00:00,960,16
2018-01-08 16:00:00-05:00,41.120,41.12,41.10,41.10,16887292.0,48.0,41.110000,2018-01-08 16:00:00-05:00,2018-01-08,16:00:00,960,16
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-06 16:00:00-05:00,169.120,169.24,169.11,169.20,6499876.0,258.0,169.120176,2024-03-06 16:00:00-05:00,2024-03-06,16:00:00,960,16
2024-03-07 16:00:00-05:00,168.985,169.02,168.88,168.89,7557935.0,359.0,168.999951,2024-03-07 16:00:00-05:00,2024-03-07,16:00:00,960,16
2024-03-08 16:00:00-05:00,170.730,171.12,170.73,171.07,7004199.0,288.0,170.730693,2024-03-08 16:00:00-05:00,2024-03-08,16:00:00,960,16
2024-03-11 16:00:00-04:00,172.750,172.84,172.75,172.80,8225530.0,322.0,172.750139,2024-03-11 16:00:00-04:00,2024-03-11,16:00:00,960,16
2024-03-12 16:00:00-04:00,173.220,173.26,173.01,173.06,7440560.0,404.0,173.229717,2024-03-12 16:00:00-04:00,2024-03-12,16:00:00,960,16