In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import pandas as pd
import numpy as np

from stocksync.bot import bot

In [9]:
code = 'NVDA'
mybot = bot('NVDA')

In [23]:
mybot.find_matched_stock(n=10)

['SQQQ', 'INTC', 'TSLA', 'AAPL', 'AMZN', 'AMD', 'TQQQ', 'FFIE', 'MAXN', 'FCEL']

In [68]:
data = pd.read_csv('./stocksync/data/historical_prices/AAPL.csv')
data = data.set_index('index')
data.index = pd.to_datetime(data.index,utc=True).tz_convert('America/New_York')
# data

In [66]:
data

,open,high,low,close,volume,trade_count,vwap,datetime,date,time,minute_of_day,hour
index,,,,,,,,,,,,
2018-01-02 16:00:00-05:00,40.610,40.61,40.58,40.58,14777248.0,45.0,40.610000,2018-01-02 16:00:00-05:00,2018-01-02,16:00:00,960,16
2018-01-03 16:00:00-05:00,40.610,40.61,40.55,40.55,15341792.0,58.0,40.610000,2018-01-03 16:00:00-05:00,2018-01-03,16:00:00,960,16
2018-01-04 16:00:00-05:00,40.800,40.81,40.79,40.79,15487840.0,36.0,40.800000,2018-01-04 16:00:00-05:00,2018-01-04,16:00:00,960,16
2018-01-05 16:00:00-05:00,41.260,41.26,41.26,41.26,17618372.0,55.0,41.260000,2018-01-05 16:00:00-05:00,2018-01-05,16:00:00,960,16
2018-01-08 16:00:00-05:00,41.120,41.12,41.10,41.10,16887292.0,48.0,41.110000,2018-01-08 16:00:00-05:00,2018-01-08,16:00:00,960,16
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-06 16:00:00-05:00,169.120,169.24,169.11,169.20,6499876.0,258.0,169.120176,2024-03-06 16:00:00-05:00,2024-03-06,16:00:00,960,16
2024-03-07 16:00:00-05:00,168.985,169.02,168.88,168.89,7557935.0,359.0,168.999951,2024-03-07 16:00:00-05:00,2024-03-07,16:00:00,960,16
2024-03-08 16:00:00-05:00,170.730,171.12,170.73,171.07,7004199.0,288.0,170.730693,2024-03-08 16:00:00-05:00,2024-03-08,16:00:00,960,16
2024-03-11 16:00:00-04:00,172.750,172.84,172.75,172.80,8225530.0,322.0,172.750139,2024-03-11 16:00:00-04:00,2024-03-11,16:00:00,960,16
2024-03-12 16:00:00-04:00,173.220,173.26,173.01,173.06,7440560.0,404.0,173.229717,2024-03-12 16:00:00-04:00,2024-03-12,16:00:00,960,16

In [63]:
data.index

RangeIndex(start=0, stop=1552, step=1)

In [62]:
pd.to_datetime(data.index,utc=True)

DatetimeIndex([          '1970-01-01 00:00:00+00:00',
               '1970-01-01 00:00:00.000000001+00:00',
               '1970-01-01 00:00:00.000000002+00:00',
               '1970-01-01 00:00:00.000000003+00:00',
               '1970-01-01 00:00:00.000000004+00:00',
               '1970-01-01 00:00:00.000000005+00:00',
               '1970-01-01 00:00:00.000000006+00:00',
               '1970-01-01 00:00:00.000000007+00:00',
               '1970-01-01 00:00:00.000000008+00:00',
               '1970-01-01 00:00:00.000000009+00:00',
               ...
               '1970-01-01 00:00:00.000001542+00:00',
               '1970-01-01 00:00:00.000001543+00:00',
               '1970-01-01 00:00:00.000001544+00:00',
               '1970-01-01 00:00:00.000001545+00:00',
               '1970-01-01 00:00:00.000001546+00:00',
               '1970-01-01 00:00:00.000001547+00:00',
               '1970-01-01 00:00:00.000001548+00:00',
               '1970-01-01 00:00:00.000001549+00:00',
               '1970-01-01 00:00:00.000001550+00:00',
               '1970-01-01 00:00:00.000001551+00:00'],
              dtype='datetime64[ns, UTC]', length=1552, freq=None)

In [37]:
current_date = pd.to_datetime('2024-03-12')
past_5_days = current_date - pd.to_timedelta('5d')
past_10_days = current_date - pd.to_timedelta('10d')
past_30_days = current_date - pd.to_timedelta('30d')
past_90_days = current_date - pd.to_timedelta('90d')
past_180_days = current_date - pd.to_timedelta('180d')
past_720_days = current_date - pd.to_timedelta('720d')

In [44]:
data

,open,high,low,close,volume,trade_count,vwap,datetime,date,time,minute_of_day,hour
index,,,,,,,,,,,,
2018-01-02 16:00:00-05:00,40.610,40.61,40.58,40.58,14777248.0,45.0,40.610000,2018-01-02 16:00:00-05:00,2018-01-02,16:00:00,960,16
2018-01-03 16:00:00-05:00,40.610,40.61,40.55,40.55,15341792.0,58.0,40.610000,2018-01-03 16:00:00-05:00,2018-01-03,16:00:00,960,16
2018-01-04 16:00:00-05:00,40.800,40.81,40.79,40.79,15487840.0,36.0,40.800000,2018-01-04 16:00:00-05:00,2018-01-04,16:00:00,960,16
2018-01-05 16:00:00-05:00,41.260,41.26,41.26,41.26,17618372.0,55.0,41.260000,2018-01-05 16:00:00-05:00,2018-01-05,16:00:00,960,16
2018-01-08 16:00:00-05:00,41.120,41.12,41.10,41.10,16887292.0,48.0,41.110000,2018-01-08 16:00:00-05:00,2018-01-08,16:00:00,960,16
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-06 16:00:00-05:00,169.120,169.24,169.11,169.20,6499876.0,258.0,169.120176,2024-03-06 16:00:00-05:00,2024-03-06,16:00:00,960,16
2024-03-07 16:00:00-05:00,168.985,169.02,168.88,168.89,7557935.0,359.0,168.999951,2024-03-07 16:00:00-05:00,2024-03-07,16:00:00,960,16
2024-03-08 16:00:00-05:00,170.730,171.12,170.73,171.07,7004199.0,288.0,170.730693,2024-03-08 16:00:00-05:00,2024-03-08,16:00:00,960,16
2024-03-11 16:00:00-04:00,172.750,172.84,172.75,172.80,8225530.0,322.0,172.750139,2024-03-11 16:00:00-04:00,2024-03-11,16:00:00,960,16
2024-03-12 16:00:00-04:00,173.220,173.26,173.01,173.06,7440560.0,404.0,173.229717,2024-03-12 16:00:00-04:00,2024-03-12,16:00:00,960,16

In [49]:
data.index.tzinfo

AttributeError: 'Index' object has no attribute 'tzinfo'

In [38]:
data[(data.index<=past_5_days) & (data.index>=current_date)]

TypeError: Cannot compare tz-naive and tz-aware timestamps